<div class="page-header">
  <h1>Dashboard</h1>
</div>

<br><br>
  <!-- <div class="innerLR">
    <div class="row-fluid">
      <div class="span6">
        
        <div class="btn-group btn-group-vertical block">
          <a class="btn btn-icon btn-default btn-block glyphicons group count"><i></i> <span>5,986</span>Total users</a>
          <a class="btn btn-icon btn-default btn-block glyphicons user_add count"><i></i> <span>98</span>New users</a>
          <a class="btn btn-icon btn-default btn-block glyphicons shopping_cart count"><i></i> <span>305</span>Products</a>
      
          <a class="btn btn-icon btn-default btn-block glyphicons cargo count"><i></i> <span>687</span>Total orders</a>
          <a class="btn btn-icon btn-default btn-block glyphicons download count"><i></i> <span>15</span>Pending orders</a>
          <a class="btn btn-icon btn-default btn-block glyphicons download count"><i></i> <span>3</span>Pending delivery</a>
          <a class="btn btn-icon btn-primary btn-block glyphicons fire count"><i></i> <span>5</span>Support</a>
        </div>
      </div>
    </div>
  </div>
 -->