<label for='brand_owner_id'>Brand Owner</label>
<!-- to check photo is new record -->

	<% unless @photo.brands.empty? %>
		<%= select_tag 'brand_owner_id', 
			options_from_collection_for_select( BrandOwner.order(:name), "id", "name", @photo.brands.map(&:brand_owner_id)),
			{:class => 'brand_owner_ddl',
				:multiple => true }
			 %> 
	<% else %>
		<%= select_tag 'brand_owner_id', 
			options_from_collection_for_select( BrandOwner.order(:name), "id", "name"),
			{:class => 'brand_owner_ddl',
			:prompt => 'UNKNOWN'}
			 %> 
		
	<% end %>		 
