
<%#= form_tag root_path, :id=>"search_form", remote: true do %>
<div class="search-form-actions">
  <%= render 'photos/shared/search_form_actions' %>
</div>    
<%#= form_tag root_path, :id=>"search_form" do %>
<%= form_tag root_path, :id=>"search_form", remote: true do %>  
      
  
  <div class="accordion" id="accordion2">
    <div class="accordion-group" id="sector-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sector-accord">
          Sectors <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="sector-accord" class="accordion-body collapse">
        
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#retailers-accord">
          Retailers <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="retailers-accord" class="accordion-body collapse">
        <!-- <div class="accordion-inner">
          <%#= render 'photos/shared/retailer_view', :locals => {:retailers => @retailers}%>
        </div> -->
      </div>
    </div>



    <div class="accordion-group" id="category-group">

      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#categories">
          Categories <i class="icon-plus pull-right"></i>
        </a>
      </div><!-- /.accordion-heading -->

      <div id="categories" class="accordion-body collapse">
      
      </div><!-- /.accordion-body -->
    </div><!-- /.accordion-group -->


    
    
    

</div> <!-- ACCORDION ENDS HERE -->

<div class="search-form-actions">
  
  <fieldset>  
    <button type="submit" class="btn clear-form">Clear</button>   
    <button type="submit" class="btn btn-primary search">Search</button>
    <%#= submit_tag "Search", :name => nil, :class=> 'btn btn-primary' %>
    
  </fieldset>
</div>    
<% end %>
