<li>
	<%= form_for save_search, remote: true do |f| %>
		  <%= link_to save_search.name, root_path(:saved_search_id => save_search.id ) %>  
		  <%= link_to "", save_search, method: :delete, data: {confirm: "Are you sure?"}, remote: true, :class=>'icon-trash pull-right' %>
		
	<% end %>
</li>