<ul class="gallery_basic" id="basicGallery">
		<% @audit.photos.each do |photo| %>
		  <li><%= link_to image_tag(photo.photo.url(:medium)), photo, remote: true %></li>
		<% end %> 
</ul>	 

<!--div class="item-carousel">
	<ul class="item-scroller">
		<li class="item">
			<a class="case_study_link" href="/public/case_studies/4f3a47a41c676615fa000011"><img src="images/case-studies.jpg" alt="Carouselimage"></a>
			<h4><a href="#">Commentary one</a></h4>
			<p>Relevant content lifts the impact of photo headers</p>
		</li>
		<li class="item">
			<a class="case_study_link" href="/public/case_studies/4f3a47a41c676615fa000011"><img src="images/case-studies2.jpg" alt="Carouselimage"></a>
			<h4><a href="#">Commentary two</a></h4>
			<p>Relevant content lifts the impact of photo headers</p>
		</li>
		<li class="item">
			<a class="case_study_link" href="/public/case_studies/4f3a47a41c676615fa000011"><img src="images/case-studies3.jpg" alt="Carouselimage"></a>
			<h4><a href="#">Commentary three</a></h4>
			<p>Relevant content lifts the impact of photo headers</p>
		</li>
	</ul>
	<div class="scroller-action">
		<div href="#" class="prev button">
			<img alt="Back" src="http://planet-skyron.co.uk/assets/back-27acd3a2407bfef1a58d532b61077977.png">
		</div>
			<div class="scroll-handle-holder">
				<div class="handle">
					<img src="images/scroller-arrow.jpg" alt="" />
				</div>
			</div>
		<div href="#" class="next button">
			<img alt="Next" src="http://planet-skyron.co.uk/assets/next-66547b6a7146350b9510f1891258db65.png">
		</div>
	</div>
</div-->