<div class="upload-field">
	<% unless @audit.new_record? %>
		<%= photo_fields.file_field :photo %>
	<% else %>
		<%= photo_fields.file_field :photo, multiple: true, :name => 'audit[photos_attributes][][photo]' %>
	<% end %>
	<%#= photos.file_field :photo, multiple: true, :name => 'audit[photos_attributes]' %>
	<%#= link_to "remove", '#', class: "remove_field" %>
</div>
