<div class="mainnav_full">


	<div id="header" class="site-header" role="banner">
		<div id="branding">						
			<h1 id="site-title">
				<a href="/" title="Snapshot Worldwide" rel="Home">
					<!-- <img class="logo" src="<%= asset_path 'SNAPSHOT_logo.png' %>" alt="Snapshot Worldwide"> -->
					<img class="logo" src="http://snapshotworldwide.com/wp-content/uploads/2013/02/snapshot-logo-300x622.png" 
							alt="Snapshot Worldwide">
				</a>
			</h1>		
		</div>

		<div id="menu-primary" class="menu-container">
			<div class="menu">
				<ul class="account">
				<!-- 	<li>
						<a href="#" id="help">Help</a>
	        </li> -->
				</ul>
			</div>
		</div>
	</div>	

</div>