<div id="footer" class="footer">
	
	<div id="footer-content" class="footer-content" role="contentinfo">

		<p class="copyright">&copy; 2012 <a class="site-link" href="http://snapshotworldwide.com" title="Snapshot Worldwide" rel="home"><span>Snapshot Worldwide</span></a>
		</p>

	</div><!-- /.footer-content -->

	<div id="menu-subsidiary" class="menu-container">
			<div class="wrap">
				
				<div class="menu">
					<ul id="menu-subsidiary-items">

						<li><a href="#">Give Feedback</a></li>
						<!--
						<li>
							<a href="#">About us</a>
							<%#= link_to about_us_path, "About us" %>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">News</a>
						</li>
						<li>
							<a href="#">Reports</a>
						</li>	
						<li>
							<a href="#">Contact</a>
						</li>	
						-->
					</ul>		
			</div>
		</div>
	</div>

</div>