<div id="footer">
	<div id="footer-content" class="footer-content">
		<div class="copyright">
			<p>Copyright © 2013 <a class="site-link" href="http://snapshotworldwide.com" title="Snapshot Worldwide" rel="home"><span>Snapshot Worldwide</span></a>
			</p>
		</div>

		<div id="menu-subsidiary" class="menu-container">
				<div class="wrap">
					
					<div class="menu">
						<ul id="menu-subsidiary-items">
							<li>
								<a href="#">About us</a>
								<%#= link_to about_us_path, "About us" %>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">News</a>
							</li>
							<li>
								<a href="#">Reports</a>
							</li>	
							<li>
								<a href="#">Feedback</a>								
							</li>


							<li>
								<a href="#">Contact</a>
							</li>	
						</ul>		
				</div>
			</div>
		</div>
	</div>
</div>