<div id="footer">
	<div id="footer-content" class="footer-content">
		<div class="copyright">
			<p>Copyright © 2013 <a class="site-link" href="http://snapshotworldwide.com" title="Snapshot Worldwide" rel="home"><span>Snapshot Worldwide</span></a>
			</p>
		</div>

		<div id="menu-subsidiary" class="menu-container">
				<div class="wrap">
					
					<div class="menu">
						<ul id="menu-subsidiary-items">
							<li>
								<a href="http://snapshotworldwide.com/about-us/">About us</a>
								<%#= link_to about_us_path, "About us" %>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="http://snapshotworldwide.com/category/news/">News</a>
							</li>
							<li>
								<a href="http://snapshotworldwide.com/gallery/reports/">Reports</a>
							</li>	
							<li>
								<a href="http://snapshotworldwide.com/contact-us/">Contact</a>
							</li>	
						</ul>		
				</div>
			</div>
		</div>
	</div>
</div>