<div id="footer">
	
	<div id="footer-content" class="footer-content">
		<p class="copyright">Copyright © 2012 <a class="site-link" href="http://snapshot-wp.preview.skyron.co.uk" title="Snapshot Worldwide" rel="home"><span>Snapshot Worldwide</span></a>
		</p>
	</div>

	<div id="menu-subsidiary" class="menu-container">
			<div class="wrap">
				
				<div class="menu">
					<ul id="menu-subsidiary-items">
						<li>
							<a href="http://snapshot-wp.preview.skyron.co.uk/about-us/">About us</a>
						</li>
						<li>
							<a href="http://snapshot-wp.preview.skyron.co.uk/privacy-policy/">Privacy Policy</a>
						</li>
						<li>
							<a href="http://snapshot-wp.preview.skyron.co.uk/category/news/">News</a>
						</li>
						<li>
							<a href="http://snapshot-wp.preview.skyron.co.uk/category/reports/">Reports</a>
						</li>	
						<li>
							<a href="http://snapshot-wp.preview.skyron.co.uk/contact/">Contact</a>
						</li>	
					</ul>		
			</div>
		</div>
	</div>

</div>

