<div class="mainnav_full">
	<div id="header" class="site-header" role="banner">

		<div id="branding">						
			<h1 id="site-title">
				<a href="/" title="Snapshot Worldwide" rel="Home">
					<img class="logo" src="http://snapshotworldwide.com/wp-content/uploads/2013/02/snapshot-logo-300x622.png" 
							alt="Snapshot Worldwide">
				</a>
			</h1>		
		</div>

		<% if user_signed_in? %>
		<div id="account">
			<ul>
				<li>
					<%= current_user.email  %>
				</li>
				<li>
	        <%= link_to "My Account", edit_user_registration_path %>
	      </li>

				<% if can? :read, :page %>
					<li>
	          <%= link_to "Admin", dashboard_path %>
	        </li>
	      <% end %>
				<li class="last">
					<%= link_to "Logout", destroy_user_session_path, :tabindex=>"-1" %>
				</li>				
			</ul>
		</div>
		<% end %>

	</div>
</div>