/*
    Content Filter - Filters on the left
*/

.aside{

  select{
    width:100%;
  }
  
}



// search form action
.search-form-actions{
  background: #eee;
  border: 1px solid #E5E5E5;
  padding: 12px;
  margin-bottom: 10px;



  .btn{
    border-radius: 0;   

    &.clear-form{
      float: left;
      width: 48%;
    }

    &.search{
      float: right;
      width: 48%;
    }  

    &.small{
      padding: 2px 9px;
      font-size: 11px;
    }
    
  }

  .saved-search{
    margin-top: 8px;
    ul{
      li{
        form{
          margin: 0 0 6px;
        }    
      }
    } 
  }

}
