
$col-pink : #d92680;
/*
.btn-primary{
	text-align: center;
	color: #ffffff;
	background: $col-pink;

	&:hover{
		color: #ffffff;
		background: darken($col-pink, 10%)
	}
}
*/
body{
	.btn{
		font-size: 13px;
	}
	.btn-primary{
		font-size: 12px;
		text-transform: uppercase;
		background-color: $col-pink;
		background-image: none;
		border: 1px solid $col-pink;
		border-radius: 0;
		&:hover{
			color: #ffffff;
			background: darken($col-pink, 10%);
			border: 1px solid darken($col-pink, 10%)
		}
	}

} 
.page-header{
	.close{
		background-color: #D92680;
		color: white;
		border-radius: 28px;
		padding: 0 4px 6px 4px;
		width: 28px;
		height: 28px;
		margin-top: 6px;
		opacity: 100;
		&:hover{
			color: #ffffff;
			background: darken($col-pink, 10%)
		}
	}	
}
