#account{
	float: right;
	font-size: 13px;
	ul{
		li{
			float: left;
			margin: 7px 0 0 10px;
			padding-right: 10px;
			border-right: 1px solid #ccc;
			line-height: 18px;
			&.last{
				border-right: 0;
			}
		}
	}
}

#site-title {
	font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
	line-height: 1em;
	margin: 0 0 3px 0;
	text-transform: uppercase;
	word-wrap: break-word;
	width: 250px;
}