/*

@import "susy";

.container {  
  width: 102px;
  margin: 0 auto;
  position: relative;
}

#main{
	clear: both;
  overflow: hidden;
  font-size: 0.9em;
  width: 100%;
  margin: 0 auto 25px;
  position: relative;
  background:red;
}


*/