@import "susy";


.container {
  
  width: 960px;
  background-color: white;
  padding: 18px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  //@include container(16);
  //@include susy-grid-background;
}

#main{
	clear: both;
  overflow: hidden;
  font-size: 0.9em;
  width: 100%;
  margin: 0 auto 25px;
  position: relative;
}


.aside {
  float: left;
  font-size: 12px;
  width: 25.40816%;
}
