/*
    Media
*/
/*
img.lazy {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
}
img.lazy.loaded {
  opacity: 1;
}
*/