.table.table-striped {
	//font-family: OpenSans;
	border-bottom:1px solid #ddd;
	font-size: 13px;
	margin-bottom: 20px;
	td{
		border-top: none;
	}
	thead{
		th{
			border-bottom: 1px solid #f1cbcb;
			font-weight: bold;
		}
	} 
	tr.odd{
		td{
			background-color: #fbefef;
			&.sorting_1{
				background-color: #fbefef;
			}	
		}
	}
}
	