/*
    Type
*/



@font-face {
  font-family: Museo500;
  src: url("../assets/MuseoSans_500.otf");}
@font-face {
  font-family: OpenSans;
  src: url("../assets/OpenSans-Regular.ttf");}

body {
  overflow-y: scroll; 
  color: #333;
  background-color: #f9f9f9;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  padding: 10px 0px;
  a{
    color: #D92680;
    &:hover{
      text-decoration: none;
      color: #333;
    }
  }
  label, input, button, select, textarea {
    font-size: 13px;
  }

  input[type='text'], textarea{
    border-radius: 0;
    box-shadow: none;
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: Museo500;
    text-transform: uppercase;
  }
  h1{
    font-size: 140%;
  }
  h2{
    font-size: 135%;
  }
  h3{
    font-size: 130%;
    line-height: 20px;
  }

  abbr[title]{
    border-bottom: none;
    color: #d92680;
  }

}


a {
  color: #0000FF;
  img { border: none; }
}