<h4><%= pluralize(@stores_in_country.count, 'store') %> found</h4>
  <%= gmaps4rails(@json) %>
  <%#= gmaps("markers" => {"data" => @json},
     "map_options" => { 
     "auto_zoom" => false, "zoom" => 15, "center_on_user" => true
     "auto_adjust"=>false, "do_clustering"=>true }) %> 