

var brand_select = "<%= @select_id %>";
var preselected = "<%= @pre_select_brands %>";
var added_brands = "";
// alert(preselected);


<% @brands.each do |brand| %>
	added_brands =  added_brands + "<option value=<%= brand.id %>><%= brand.name %></option>";
<% end %>

$(brand_select).empty().append(added_brands);
$(brand_select).val(preselected.split(",")).trigger("liszt:updated");