

var brand_select = "<%= @select_id %>";
var preselected = "<%= @pre_select_brands %>";
var selected_brands = "";
// alert(preselected);


<% @brands.each do |brand| %>
	selected_brands =  selected_brands + "<option value=<%= brand.id %>><%= brand.name %></option>";
<% end %>

$(brand_select).empty().append(selected_brands);
$(brand_select).val(preselected).trigger("liszt:updated");