<div class="box">
	<h4>Save Searches</h4>

	<div id = "saved-list">
	  <%#= render @saved_searches unless current_user.save_searches.blank? %>
	</div> 
	<%= link_to "Save", new_save_search_path(:params => params[:search]), id: "new_link", :class => "btn btn-primary", remote: true %>
	<%= link_to "Open", save_searches_path, id: "open_link", :class => "btn btn-success", remote: true %>
	<!--div id = "new-save">
	  <%#= render @new_save_search %>
	</div-->
</div>