<h3>Save Searches</h3>
<%= link_to "New", new_save_search_path, id: "new_link", :class => "btn btn-primary", remote: true %>

<div id = "saved-list">
  <%= render @saved_searches unless current_user.save_searches.blank? %>
</div> 
<div id = "new-save">
  <%#= render @new_save_search %>
</div>
