<div class="span4">
  <aside>
    
    <%= render 'search_form' %>
    <%= render 'save_form' %>

  </aside>
</div>
<div class="span8">
  
  <%= render 'map_view' %>    
  <%= render 'list_view' %>   

</div>
