<% content_for :head do %>
  <%= stylesheet_link_tag "gmaps4rails" %>
<% end  %>


<div class="aside">
  <%= render 'photos/shared/search_form' %>
</div>

<div class="content-wrap">

  <div class="content">
     <div class="tab-content">
      
      <div class="tab-pane active" id="list-view">
        
        <div class="loading" style="display:none;">
          <img src="../assets/snapshot_loading.gif" alt="loading" />
        </div>
          <!--h4><%#= pluralize(@photos.count, 'photo') %> found</h4-->

          
          <div class="photo-view" data-layout="grid">  
              <%= render 'grid_view' %>
          </div>
          <div class="map-view" style="display:none;">
            <%= render 'map_view' %>  
          </div>  

      </div>
    </div> 
  </div>  
</div>