<div class="span4">
  <aside>
    
    <%= render 'search_form' %>
    <%= render 'save_form' %>

  </aside>
</div>
<div class="span8">
  <div id="map_view">
  	<%= render 'map_view' %>    
  </div>	
  <%= render 'list_view' %>   

</div>
