<!-- <h1>Search page</h1>

<div class="photo-view" data-layout="grid">

</div>

<script id="photos_view" type="text/template">
<img src ="{{ url }}" alt="test" />
	
</script>
 -->
<% content_for :head do %>
  <%= stylesheet_link_tag "gmaps4rails" %>
<% end  %>


<div class="aside">
  

  <%= render 'photos/shared/search_form_json' %>
</div>

<div class="content-wrap">

  <div class="content">
     <div class="tab-content">
      
      <div class="tab-pane active" id="list-view">
        
        <div class="loading" style="display:none;">
          <img src="../assets/snapshot_loading.gif" alt="loading" />
        </div>
          <!--h4><%#= pluralize(@photos.count, 'photo') %> found</h4-->

          
          <div class="photo-view" data-layout="grid">  
             
          </div>
          <div class="map-view" style="display:none;">
            <%#= render 'map_view' %>  
          </div>  

      </div>
    </div> 
    
  </div>  
</div>  

  <script id="photos_view" type="text/template">
    <!--img src="/assets/snapshot_loading.gif" class="lazy" data-original="{{ url }}" -->
     <img src ="{{ url }}" alt="test" />
  </script>
  <script id="sectors_view" type="text/template">
    <input data-desc="{{ name }}" id="search_sectors_{{ id }}" name="search[sectors][]" type="checkbox" value="{{ id }}">
    {{ name }}
  </script>
  
  <script id="retailers_view" type="text/template">
    <input data-desc="{{ name }}" id="search_retailers_{{ id }}" name="search[retailers][]" type="checkbox" value="{{ id }}">
    {{ name }}
  </script>

  <script id="categories_view" type="text/template">
    <input data-desc="{{ name }}" id="search_categories_{{ id }}" name="search[categories][]" type="checkbox" value="{{ id }}">
    {{ name }}
  </script>





<% content_for :scripts do %>


	<%= javascript_include_tag "backbone/snapshot" %>

	<script>
  $(document).ready(function() {

		new Snapshot.Router;
	  Backbone.history.start();

	  Snapshot.photos = new Snapshot.Collections.Photos;
	  Snapshot.photos.fetch().then(function(){
	    new Snapshot.Views.PhotosView({ collection: Snapshot.photos })

	  });

    Snapshot.sectors = new Snapshot.Collections.Sectors;
    Snapshot.sectors.fetch().then(function(){
      new Snapshot.Views.SectorsView({ collection: Snapshot.sectors })
    });

    Snapshot.retailers = new Snapshot.Collections.Retailers;
    Snapshot.retailers.fetch().then(function(){
      new Snapshot.Views.RetailersView({ collection: Snapshot.retailers })
    });

    Snapshot.categories = new Snapshot.Collections.Categories;
    Snapshot.categories.fetch().then(function(){
      new Snapshot.Views.CategoriesView({ collection: Snapshot.categories })
    });

    Snapshot.filters = new Snapshot.Collections.Filters({sectors});
    Snapshot.filters.fetch().then(function(){
      // new Snapshot.Views.Filters({ collection: Snapshot.filters })
    });

  });


  
	</script>
  
<% end  %>
