<!-- <h1>Search page</h1>

<div class="photo-view" data-layout="grid">

</div>

<script id="photos_view" type="text/template">
<img src ="{{ url }}" alt="test" />
	
</script>
 -->
<% content_for :head do %>
  <%= stylesheet_link_tag "gmaps4rails" %>
<% end  %>


<div class="aside">
  <%= render 'photos/shared/search_form' %>
</div>

<div class="content-wrap">

  <div class="content">
     <div class="tab-content">
      
      <div class="tab-pane active" id="list-view">
        
        <div class="loading" style="display:none;">
          <img src="../assets/snapshot_loading.gif" alt="loading" />
        </div>
          <!--h4><%#= pluralize(@photos.count, 'photo') %> found</h4-->

          
          <div class="photo-view" data-layout="grid">  
              <script id="photos_view" type="text/template">
							<img src ="{{ url }}" alt="test" />
								
							</script>
          </div>
          <div class="map-view" style="display:none;">
            <%#= render 'map_view' %>  
          </div>  

      </div>
    </div> 
  </div>  
</div>  












<% content_for :scripts do %>
	<%= javascript_include_tag "backbone/snapshot" %>

	<script>

		new Snapshot.Router;
	  Backbone.history.start();
	  Snapshot.photos = new Snapshot.Collections.Photos;
	  Snapshot.photos.fetch().then(function(){
	    new Snapshot.Views.Snapshot({ collection: Snapshot.photos })
	  });

	</script>

<% end  %>
