/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree ./partials
 *= require jquery.ui.datepicker
 *= require chosen
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require bootstrap_and_overrides
 *= require gmaps4rails
 *= require jquery.fileupload-ui 
 * require_tree .
 
 */



body {
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  padding: 10px 0px;
  h1, h2, h3, h4, h5, h6{
    font-weight: normal;
  }
  h3{
    font-size: 20px;
    line-height: 20px;
  }

  abbr[title]{
    border-bottom: none;
    color: #d92680;
  }

}
form textarea{
  height: 140px;
}
body ul{
  margin: 0;
}

.content .nav{
  margin-bottom: 10px;
}

#loader_cont{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  
  z-index: 1500;
}
a {
  color: #0000FF;
  img { border: none; }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p { margin: 8px 10px; }
  ul { margin-bottom: 0; }
}

.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 12px 0;
}
.table.dataTable tr.odd td,.table.dataTable tr.even td{
  padding: 8px;
}
.table.dataTable tr.odd td.sorting_1{
  background-color: #f9f9f9;
}
.table.dataTable tr.even td.sorting_1{
  background-color: #ffffff;
}

#builtby{
  text-align: right;
}

.table.dataTable thead th{
  border-bottom: none;
}

.login, .register, .forgot, .change-password, .login-confirm, .login-edit{
  width: 350px;
  display: block;
  margin: 0 auto;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.widget{
  background-color: white;
  overflow: hidden;
  > section{
    overflow: hidden;
    clear: both;
  }
}

.chzn-container-multi .chzn-choices{
  width: 450px;
}
.gallery_basic {
  list-style: none;
  margin: 0;
  >li{
    float: left;
    margin: 10px 7px;
    width: 150px; height: auto;
  }
}


#list-view{
  .action{
    overflow: hidden;
    height: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    ul{
      float: right;
      li{
        float:left;
        margin-right: 9px;
      }  
    }
  }
}

.action{
  overflow: hidden;
  margin-bottom: 20px;
}
.accordion-heading {
  border-bottom: 0;
  background-color: #EEE;
}

@media (max-width: 767px){

  .container-fluid{
    margin-top: 0;
  }
}

//******************************* new 
.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
#main {

  clear: both;
  overflow: hidden;
  font-size: 0.9em;
  width: 100%;
  margin: 0 auto 25px;
  position: relative;
  padding-top: 15px;
  h1{
    font-size: 150%;
  }
  .page-header{
    padding-bottom: 0px;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee;
    h1{
      margin: 0px;
    }
  }
  .site-content{
    
  }
  .content-wrap {
    float: right;
    width: 71.53061%;
  }
}
#header{
  clear: both;
  width: 100%;
  float: left;
  padding: 40px 0 0 0;
  #branding {
    float: left;
    width: 45%;
    overflow: hidden;
  }
}


// NAVIGATION
#menu-primary {
  font-size: 1em;
  width: 100%;
  margin: 1.5em 0 0 0;
  float: left;
  clear: left;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #CCC;
  ul{
    padding-left: 0;
    &.account{
      float: right;
    }
    li {
      display: block;
      float: left;
      min-height: 30px;
      padding-left: 1.8em;
      background: url(../assets/menu-separator.png) no-repeat left 15%;
      &:first-child {
        padding-left: 0;
        background: none;
      }
      a {
        color: #D92680;
        font-size: 1;
        font-weight: 400;
        line-height: 1em;
        margin-right: 1em;
        display: block;
        text-transform: lowercase;
      }
    }
  }  
}

.aside {
  select{
    width: 100%;
  }
  float: left;
  font-size: 12px;
  width: 25.40816%;
}

.page-controls{
  display: block;
  width: 100%;
  overflow: hidden;
}
// pagination
.pagination {
  margin: 0px !important;
  float: right;
  padding: 0;
  position: relative;
  overflow: hidden;
  a, span, em{
    background: #f9f9f9;
    border: 1px solid lightGrey;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    color: #8A6741;
    border-radius: 3px;
    padding: 4px 7px;
    &.disabled{
      display: none;
    }
    &.current{
      color: #fff;
      background: #6F6F6F;
      font-weight: bold;
      box-shadow: 0 1px 2px #545454 inset, 0 1px 0 white;
    }
  }
}
// page controls
.sort-control{
  float: left;
  margin-right: 12px;
  .sort-control-label {
    margin-right: 12px;
    float: left;
    line-height: 30px;
  }
  .sort_select{
    width: auto;
    float: left;
  }
}
.layout-switcher {
  border-left: 1px solid #CECECE;
  padding-left: 10px;
  margin-top: 2px;
  a {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    text-indent: -9999px;

  }
  .layout-list{
    &:hover{}
    &:focus{}
    &.active{}
  }
  .layout-grid{
    &:hover{}
    &:focus{}
    &.active{} 
  }
}

// DATE PICKER
body .ui-datepicker{
  width: 14em; 
}
body .ui-widget {
  font-size: 1em;
}
//### LIST VIEW / GRID VIEW
.photo-view.grid{
  .photos-viewer{
    padding: 0px; margin: 0px;
    li{
      float: left;
      width:181px;
      height: 230px;
      .thumb{
        margin: 0 auto;
        width: 165px;
        height: 126px;
      }
    }
  }  
}
.photo-view.list{
  .photos-viewer{
    padding: 0; margin: 0px;
    input[type="checkbox"]{
      float: left;
      width: 30px;
    }
    li{
      padding: 12px 0;
      overflow: hidden;
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      .thumb{
        margin-right: 10px;
        padding: 1px;
        width: 100px;
        float: left;
        border: 1px solid #ccc;
        box-shadow: 0 0 3px #ccc;
      }
      .retailer{
        width: 130px;
        float: left;
      }
      .brand{
        width: 130px;
        float: left;
      }
      .date{
        width: 130px;
        float: left;
      }  
      .address{
        float: left;
        width: 130px;
      }
    }

  }  
}

.photo_views_view{
  overflow: hidden;
  margin-bottom: 25px;
}
#photo-details{
  .left{
    float: left;
    margin-right: 20px;
    width: 500px;
  }
  .right{
    float: left;
    width: 504px;
  }
  input, textarea{
    width: 87%;
  }

}

// save searches
.saved-list{
  
}
.new_save_search{
  background-color: #eee;
  .form-actions{
    padding: 0;
    border: 0;
    background-color: #eee;
    margin: 5px 0;
  }
}

// searrch form action
.search-form-actions{
  background-color: #eee;
  border: 1px solid #E5E5E5;
  padding: 12px;
  margin-bottom: 10px;
  .btn{
    border-radius: 0;   
    &.clear-form{
      float: left;
      width: 111px;
    }
    &.search{
      float: right;
      width: 111px;
    }  
    &.small{
      padding: 2px 13px;
      font-size: 12px;
    }
  }
  .saved-search{
    margin-top: 8px;
    ul{
      li{
        form{
          margin: 0 0 6px;
        }    
      }
    } 
  }

}

.photo_views_view{
  .photo-store-info{
    background-color: #eee;
    padding: 18px;
  }
}