/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require jquery.ui.datepicker
 *= require chosen
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require bootstrap_and_overrides
 
 *= require gmaps4rails
 *= require jquery.fileupload-ui 

 * require_tree .
 * require_tree ./partials

 */

@import "compass";
@import "twitter/bootstrap";

@import "partials/*";



// search form
.single-group{
  background-color: #eee;
  border: 1px solid #E5E5E5;
  padding: 8px 0 8px 20px;
  margin-bottom: 2px;

  input[type="text"]{
    padding: 2px 6px;
  }


  .add-on{
    padding: 2px 5px;
    &:last-child{
      border-radius: 0px;
    }
  }

  #search_location{
    width: 85%;
  }

  label{
    display: inline;
  }

  #search_brand_comp{
    margin-top: -2px;
  }

  &.date{

    label{
      //float: left;
      @include inline-block;
      width: 7.5em;
    }

    .add-on{
      width:100%;
      text-align: left;
    }

    input[type="text"]{ 
      //width: 35%;
    }

  }
}





body ul{
  margin: 0;
}

.content .nav{
  margin-bottom: 10px;
}

#loader_cont{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  
  z-index: 1500;
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p { margin: 8px 10px; }
  ul { margin-bottom: 0; }
}

.field_with_errors {
  display: inline;
}


.table.dataTable tr.odd td,.table.dataTable tr.even td{
  padding: 8px;
}
.table.dataTable tr.odd td.sorting_1{
  background-color: #f9f9f9;
}
.table.dataTable tr.even td.sorting_1{
  background-color: #ffffff;
}

#builtby{
  text-align: right;
}

.table.dataTable thead th{
  border-bottom: none;
}

.login, .register, .forgot, .change-password, .login-confirm, .login-edit{
  width: 350px;
  display: block;
  margin: 0 auto;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.widget{
  background-color: white;
  overflow: hidden;
  > section{
    overflow: hidden;
    clear: both;
  }
}




.gallery_basic {
  list-style: none;
  margin: 0;
  width: 100%;
  overflow: hidden;
  >li{
    float: left;
    margin: 10px 7px;
    width: 150px; height: auto;
  }
}

/*
#list-view{
  .action{
    overflow: hidden;
    height: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    ul{
      float: right;
      li{
        float:left;
        margin-right: 9px;
      }  
    }
  }
}
*/


.action{
  overflow: hidden;
  margin-bottom: 20px;
}
.accordion-heading {
  border-bottom: 0;
  background-color: #EEE;
}

/*
@media (max-width: 767px){

  .container-fluid{
    margin-top: 0;
  }
}

*/



//******************************* new 

#main {

  
  .page-header{
    padding-bottom: 0px;
    margin: 0 0 10px;
    border-bottom: 1px solid #ccc;
    h1{
      margin: 0px;
    }
  }

  .site-content{
    .alert{
      display: block;
      overflow: hidden;
      padding-bottom: 0;
      cursor: pointer;
      border-radius: 0;
      cursor: pointer;
      div{
        float: left;
      }
    }
  }

  .content-wrap {
    float: right;
    width: 71.53061%;
    //padding-top: 15px;
  }
}

#header{
  clear: both;
  width: 960px;
  padding: 10px 0 0 0;
  margin: 0 auto;
  min-height: 60px;
  #branding {
    float: left;
    width: 45%;
    overflow: hidden;
  }
}




.page-controls{
  
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
  .will-page{
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
}

// page controls
.sort-control{
  float: left;
  margin-right: 12px;
  .sort-control-label {
    margin-right: 12px;
    float: left;
    line-height: 30px;
  }
  .sort_select{
    width: auto;
    float: left;
  }
}



/*
.layout-switcher {
  border-left: 1px solid #CECECE;
  padding-left: 10px;
  margin-top: 2px;
  a {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    text-indent: -9999px;

  }
  .layout-list{
    &:hover{}
    &:focus{}
    &.active{}
  }
  .layout-grid{
    &:hover{}
    &:focus{}
    &.active{} 
  }
}
*/




//### LIST VIEW / GRID VIEW
.loading{
  text-align: center;
}


.snapshot-window { 
  border: 2px solid #666666; 
  border-radius: 5px; 
  background: white; padding: 0; 
  h3 {
    border: 1px solid #666666; 
    font-size: 14px;
    background-color: #666666;
    color: white;
    margin: 0px;
    padding: 5px 10px;
  }
  .window{
    padding: 10px;
  }
}

.photo_views_view{
  overflow: hidden;
  margin-bottom: 25px;
}




#photo-details{
  table{
    tr{
      td{
        padding: 4px;
      }
    }
  }
  .left{
    float: left;
    margin-right: 20px;
    width: 550px;
    figure{
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .right{
    float: left;
    width: 390px;
    section{
      margin-bottom: 15px;
      padding: 12px 12px 20px 12px;
      background-color: #eee;
      h3{
        &:before{
          content: "";
          border-left: 3px solid #D92680;
          margin-right: 10px;
        }
        margin-left: 5px;
        text-transform: uppercase;
      }
      ul{
        margin-left: 20px;
        li{
          list-style: square;
        }
      }
    }
  }
  input[type="text"], textarea{
    width: 87%;
  }

}



.new_save_search{
  background-color: #eee;
  .form-actions{
    padding: 0;
    border: 0;
    background-color: #eee;
    margin: 5px 0;
  }
}

input{
  &.required{
    &.error{
      border: 1px solid #d92680;
    }

  }

}


.photo_views_view{
  .photo-store-info{
    background-color: #eee;
    padding: 18px;
    text-align: left;
  }
}


.cat-link{
  font-size: 13px;  
}

.dataTables_wrapper{
  select{
    width: auto;
  }
}

// sign in page
.header_full{
  background-color: #d92680;
  min-height: 399px;
  @include box-shadow(#555 -1px 2px 15px inset);
  padding: 30px 0;
}
.header_small{
  background-color: #d92680;
  height: 60px;
  @include box-shadow(#555 -1px 2px 15px inset);
  padding: 30px 0;
}
.devise{
  margin: 0 auto;
  width: 380px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  
  .links{
    padding: 10px 18px;
  }
}


// list view header
.list-header{
  border-bottom: 1px solid #f1cbcb;
  width: 100%;
  overflow: hidden;
  padding: 3px 0;
  li{
    float: left;
    
  }
}