
// var cur_val = $('.no-results').children('span').text();
$('.overlay').empty();
$('.site-content').show();
$('.brands-actions').html('<%= j render("/brands/shared/photos_brands_dropdown") %>');

var cur_val = $('.chosen-brand').val();
var new_val = <%= @brand.id %>

if(cur_val){
  $('.chosen-brand').val([ cur_val + "," + new_val ]).trigger("liszt:updated");
}
else{
  $('.chosen-brand').val(new_val);
}  

// $('.chosen-brand').val('<%= @brand.id %>').append().trigger("liszt:updated");
$('.chosen-brand').chosen({no_results_text: "<a href='/brands/new' data-remote='true'>Add New Brand</a>:"});
// $('#photo_brand_ids').chosen('<%= @brand.id %>');