var select_id = "#" + $('.no-results a').closest('.chzn-container').prev().attr('id');
var values = $(select_id).val();
var new_brand = "<option value=<%= @brand.id %>><%= @brand.name %></option>";

$('.overlay').empty();
$('.site-content').show();

//$('.brands-actions').html('<%= j render("/brands/shared/photos_brands_dropdown") %>');
 $(select_id).append(new_brand);
$(select_id).val('<%= @brand.id %>');
$(select_id).trigger("liszt:updated");

$('.chosen-brand').chosen({no_results_text: "<a href='/brands/new' data-remote='true'>Add New Brand</a>:"});